<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <title>Document</title>

</head>
<body>

       <a href="/waiter" class="linked" ><button style="margin-top: 10px">LOGOUT</button></a> 
      
         <a href="/resets" class="lins"><button style="margin-top: 10px">DELETE</button></a> 
 

    <form action="/monthly" method="post">
    <div class="month">
  <ul>
   
    <li><span style="font-size:18px">WAITERS SCHEDULE</span></li>
  </ul>
</div>

<ul class="weekdays">
  
{{#each robots}}
<li class="{{color}}">{{days_of_week}}
</li>
{{/each}}
</ul>


 
<ul class="days">
  <li>
    {{#each Sunday}}
      <br>
      
    {{named}}   
    
    <br>
    {{/each}}
  </li> 
  <li>  {{#each Monday}}
     <br>
    {{named}}
    <br>
    {{/each}}</li>
  <li>
    {{#each Tuesday}}
     <br>
    {{named}}
     <br>
    {{/each}}
  </li>
  <li> {{#each Wednesday}}
     <br>
    {{named}}
     <br>
    {{/each}}</li>
<li> 
{{#each Thursday}}
 <br>
    {{named}}
     <br>
    {{/each}}
  </li>
  <li> 
{{#each Friday}}
 <br>
    {{named}}
     <br>
    {{/each}}
  </li>
  <li> 
    
{{#each Saturday}}
 <br>
    {{named}}
     <br>
    {{/each}}
  </li>
  
</ul>

   <h4 class="error"> {{messages.error}}</h4>
</form>

<div style="background-color:#1abc9c; width:40%; margin-left: 25%; height: 150px">
<h3 style="color:black">KEYS</h3>
<h4 style="background-color:green ;width:max-content; text-align:center; margin-left: 20%">YOU HAVE ENOUGH WAITERS FOR THE DAY</h4>
<h4 style="background-color:orange ;width:max-content; text-align:center; margin-left: 19%">YOU HAVE LESS THAN 3 WAITERS FOR THE DAY</h4>
<h4 style="background-color:red ; width:max-content; text-align:center; margin-left: 18%">YOU HAVE MORE THAN 3 WAITERS FOR THE DAY</h4>
</div> 
</body>
</html>