<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <title>Document</title>

</head>
<body>

       <a href="/waiter" class="linked"><button>LOGOUT</button></a> 
      
         <a href="/resets" class="linked"><button>DELETE</button></a> 
 

    <form action="/monthly" method="post">
    <div class="month">
  <ul>
   
    <li><span style="font-size:18px">WAITERS SCHEDULE</span></li>
  </ul>
</div>

<ul class="weekdays">
  <li>Sun</li>
  <li>Mon</li>
  <li>Tues</li>
  <li>Wed</li>
  <li>Thurs</li>
  <li>Fri</li>
  <li>Sat</li>
  
</ul>

<ul class="days">
  <li>
    {{#each Sunday}}
      <br>
    {{named}}
    <br>
  
    {{/each}}
  </li> 
  <li>  {{#each Monday}}
     <br>
    {{named}}
    <br>
    {{/each}}</li>
  <li>
    {{#each Tuesday}}
     <br>
    {{named}}
     <br>
    {{/each}}
  </li>
  <li> {{#each Wednesday}}
     <br>
    {{named}}
     <br>
    {{/each}}</li>
<li> 
{{#each Thursday}}
 <br>
    {{named}}
     <br>
    {{/each}}
  </li>
  <li> 
{{#each Friday}}
 <br>
    {{named}}
     <br>
    {{/each}}
  </li>
  <li> 
    
{{#each Saturday}}
 <br>
    {{named}}
     <br>
    {{/each}}
  </li>
  
</ul>
{{!-- <span class="days{{color}}">{{}}</span> --}}
   <h4 class="error"> {{messages.error}}</h4>
</form>

    
</body>
</html>